<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333685220359-1djelcnl9r3ij9qojdf1b0n5ra9egpur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333685220359-1djelcnl9r3ij9qojdf1b0n5ra9egpur</string>
	<key>API_KEY</key>
	<string>AIzaSyD3rhoFIBr79onZbhbN7KgV6Kmu_aivmIM</string>
	<key>GCM_SENDER_ID</key>
	<string>333685220359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.duvasolutions.lecker-gesund</string>
	<key>PROJECT_ID</key>
	<string>lecker-gesund</string>
	<key>STORAGE_BUCKET</key>
	<string>lecker-gesund.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333685220359:ios:99a90ec98a7495f68276a2</string>
	<key>DATABASE_URL</key>
	<string>https://lecker-gesund.firebaseio.com</string>
</dict>
</plist>